<div class="jumbotron border-bottom border-primary m-0">
  <h1 class="display-4 text-right">Interactive MySQL ERD Generator</h1>
  <p class="lead text-right font-weight-bold">Generate MySQL ERD's for large scale applications.</p>
  <p class="text-right font-weight-bold">Formulate a multipage interactive ERD.</p>
  <p class="lead text-right">
    <a id="jumbo-button" class="btn btn-primary btn-lg" href="/file-to-json-form" role="button">Lets go!</a>
  </p>
</div>

<div class="card">
  <div class="card-body text-center font-weight-bold">
    Create a data model for any MySQL application in the click of a button.
  </div>
</div>

<div class="d-flex justify-content-around bg-light p-4  border-bottom">
<div class="card text-white bg-secondary border border-primary" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title font-weight-bold">Any Scale!</h5>
    <p class="card-text">If your dealing with a large scale application then this tool is perfect to create a clean result. No more spaghetti from erd generators trying to squish everything into 1 page.
    <br><br>
    If your dealing with a simple app and like the interactive style! then fantastic! your in the right place.</p>
  </div>
</div>

<div class="card text-white bg-secondary border border-primary" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title font-weight-bold">What is interactive?</h5>
    <p class="card-text">Envision a list of entities that can be clicked into. Once you click into an entity you can see a visual depiction of its data types, keys and relationships. Link straight to its relation in one click!</p>
  </div>
</div>

<div class="card text-white bg-secondary border border-primary" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title font-weight-bold">What can i use it for?</h5>
    <p class="card-text">You can use this tool to help understand complex data structures. No technical experience required. Just ask your tech team to take a database dump of your MySQL database and upload it.</p>
  </div>
</div>
</div>
<button type="button" class="btn btn-primary btn-lg btn-block mt-4">Upload my SQL file</button>