<section>
  <div class="container p-5">
    <!-- For demo purpose -->
    <div class="row mb-5 text-center text-white">
      <div class="col-lg-10 mx-auto">
        <h1 class="display-4">File upload button </h1>
        <p class="lead">Build a simple file upload button using Bootstrap 4.</p>
      </div>
    </div>
    <!-- End -->


    <div class="row">
      <div class="col-lg-5 mx-auto">
        <div class="p-5 bg-white shadow rounded-lg"><img src="http://www.socialsciencespace.com/wp-content/uploads/Data-Set-300x225.jpg" alt="" width="200" class="d-block mx-auto mb-4 rounded-pill">

          <h6 class="text-center mb-4 text-muted">
            Please upload your .sql file
          </h6>

          <div class="custom-file overflow-hidden rounded-pill mb-5">
            <input id="customFile" type="file" class="custom-file-input rounded-pill">
            <label for="customFile" class="custom-file-label rounded-pill">Upload File</label>
          </div>

          <button id="upload-button" type="button" class="btn btn-outline-dark btn-block">Generate ERD</button>
        </div>
      </div>
    </div>
  </div>
</section>